.top-row {
    background-color: #172C2F;
    border-bottom: 1px solid #172C2F;
    justify-content: space-between;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 0px 24px;

    > .header-content {
        display: flex; 
        flex-direction: row; 
        width: 100%; 
        justify-content: space-between; 
        padding: 0px 90px; 
        position: relative; 
        top: -73.5px;

        > img {
            width: 40px; 
            color: #B4FFF0
        }

        > .header-title {
            color: white; font-size: 12px;
        }
    }

    @media(max-width: 780px) {
        > .header-content {
            padding: 0px 10px;
        }
    }
}

