.btn-container[b-yipxvmwkpu]{
    margin: 0 auto;

    > .btn-content-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-content: center;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 18px;
        max-width: 620px;
        width: 100vw;

        > #continue {
            width: 130px;
            height: 45px;
            border-radius: 5px;
            border-width: 0px;
            background-color: #177D78;
            color: whitesmoke;
            font-size: 14px;
            font-weight: 520;
            letter-spacing: 1px;
        }
        
        #continue:hover[b-yipxvmwkpu] {
            background-color: #084441;
        }
    }

    @media(max-width: 768px) {
        .btn-content-container[b-yipxvmwkpu]  {
            width: auto;
        }
    }
}





