/* /Shared/Components/Body/Body.razor.rz.scp.css */
.body-container[b-i2qe4w0kio] {
    display: flex;

    > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        position: relative;
        top: -80px;
        border: 1px solid lightgray;
        padding: 20px;
        width: 80%;

        > .sub-container {
            margin: 0 auto;
            width: 100%;
        }
    }
}




/* /Shared/Components/Footer/Footer.razor.rz.scp.css */
.footer-container[b-lx5uuwzknn] {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
    align-content: center;
    margin: 20px 0px 30px 0px;
}

.psecu-rights[b-lx5uuwzknn] {
    color: gray;
}

.links[b-lx5uuwzknn] {
    display: flex; 
    justify-content: space-around;
    width: 525px;
    margin: 0 10px;
}

.legal[b-lx5uuwzknn] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

a[b-lx5uuwzknn] {
    color: teal;
}

@media(max-width: 865px) {
    .footer-container[b-lx5uuwzknn] {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 12px;
        justify-content: space-around;
        padding-top: 0px;
        padding-bottom: 15px;
        margin: -60px 0px 0px 0px;
    }
    .legal[b-lx5uuwzknn] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links[b-lx5uuwzknn] {
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
        height: 80px;

    }
}
/* /Shared/Components/Header/Header.razor.rz.scp.css */
.top-row[b-nucf7rjl2v] {
    background-color: #172C2F;
    border-bottom: 1px solid #172C2F;
    justify-content: space-between;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 0px 24px;

    > .header-content {
        display: flex; 
        flex-direction: row; 
        width: 100%; 
        justify-content: space-between; 
        padding: 0px 90px; 
        position: relative; 
        top: -73.5px;

        > img {
            width: 40px; 
            color: #B4FFF0
        }

        > .header-title[b-nucf7rjl2v] {
            color: white; font-size: 12px;
        }
    }

    @media(max-width: 780px) {
        > .header-content[b-nucf7rjl2v] {
            padding: 0px 10px;
        }
    }
}

