/* /Shared/Components/Body/Body.razor.rz.scp.css */
.body-container[b-i2qe4w0kio] {
    display: flex;

    > .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        position: relative;
        top: -80px;
        border: 1px solid lightgray;
        padding: 20px;
        width: 80%;

        > .sub-container {
            margin: 0 auto;
            width: 100%;
        }
    }
}




/* /Shared/Components/Buttons/ModalButton.razor.rz.scp.css */
.btn-container[b-yipxvmwkpu]{
    margin: 0 auto;

    > .btn-content-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-content: center;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 18px;
        max-width: 620px;
        width: 100vw;

        > #continue {
            width: 130px;
            height: 45px;
            border-radius: 5px;
            border-width: 0px;
            background-color: #177D78;
            color: whitesmoke;
            font-size: 14px;
            font-weight: 520;
            letter-spacing: 1px;
        }
        
        #continue:hover[b-yipxvmwkpu] {
            background-color: #084441;
        }
    }

    @media(max-width: 768px) {
        .btn-content-container[b-yipxvmwkpu]  {
            width: auto;
        }
    }
}





/* /Shared/Components/Buttons/ProgressButton.razor.rz.scp.css */
.btn-container[b-cqdpl21fjd]{
    max-width: 950px;
    margin: 0 auto
}

.btn-content-container[b-cqdpl21fjd] {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-width: 1000px;
    align-content: center;
    align-items: center;
}

#continue[b-cqdpl21fjd] {
    width: 115px;
    height: 40px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    border-width: 0px;
    background-color: #177D78;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 650;
}

#continue:hover[b-cqdpl21fjd] {
    background-color: #084441;
}

#back[b-cqdpl21fjd] {
    width: 115px;
    height: 40px;
    margin: 20px 0px 5px 0px;
    border-radius: 5px;
    background-color: white;
    color: #177D78;
    font-size: 14px;
    font-weight:650;
    border: 1px solid #177D78;
}

@media(max-width: 500px) {
    .btn-content-container[b-cqdpl21fjd] {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    #continue[b-cqdpl21fjd], #back[b-cqdpl21fjd] {
        width: 50vw;
    }
}
/* /Shared/Components/Buttons/VisibleEyeButton.razor.rz.scp.css */
.fa-eye[b-xbvg3p1uys], .fa-eye-slash[b-xbvg3p1uys]  {
    position: absolute;
    right: 33px;
    top: 47px;
    cursor: pointer;
    color: teal;
    font-size: 10px;
    /* width: 10px; */
}
/* /Shared/Components/Footer/Footer.razor.rz.scp.css */
.footer-container[b-lx5uuwzknn] {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
    font-size: 12px;
    align-content: center;
    margin: 20px 0px 30px 0px;
}

.psecu-rights[b-lx5uuwzknn] {
    color: gray;
}

.links[b-lx5uuwzknn] {
    display: flex; 
    justify-content: space-around;
    width: 525px;
    margin: 0 10px;
}

.legal[b-lx5uuwzknn] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

a[b-lx5uuwzknn] {
    color: teal;
}

@media(max-width: 865px) {
    .footer-container[b-lx5uuwzknn] {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        font-size: 12px;
        justify-content: space-around;
        padding-top: 0px;
        padding-bottom: 15px;
        margin: -60px 0px 0px 0px;
    }
    .legal[b-lx5uuwzknn] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links[b-lx5uuwzknn] {
        display: flex;
        flex-direction: column;
        width: 250px;
        align-items: center;
        height: 80px;

    }
}
/* /Shared/Components/Form/Containers/FormContainer.razor.rz.scp.css */
.form-container[b-lqv7dltalv] {
    display: flex;
    flex-direction: column;
}
/* /Shared/Components/Form/Containers/InputContainer.razor.rz.scp.css */
.container[b-tn8c29rio5] {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 10px auto;

    > .field-label-text {
        font-size: 14px;
        /* font-weight: 700; */
        padding-bottom: 5px;
    }
}
/* /Shared/Components/Form/Input/TextInput.razor.rz.scp.css */
.input-style[b-sphswcpo0j] {
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 14px;
    border: 1px solid gray;
}

.input-style:focus[b-sphswcpo0j] {
    outline: 2px solid #177D78;
    border-radius: 2px;
    border: none;
    padding: 10px;
}
/* /Shared/Components/Form/Validation/CustomValidationAlertContainer.razor.rz.scp.css */
.validation-container[b-1zpc2yfh2o] {
    flex-direction: column;
    max-width: 525px;
    margin: 0px auto;
    padding-top: 4px;
    margin-bottom: 25px;
    background-color: hsl(0, 100%, 40%);
    color: black;
    border-radius: 3px 3px 25px 25px;
}

.validation-text-container[b-1zpc2yfh2o] {
    background-color: hsl(0, 95%, 93%);
    padding: 10px;
    font-size: 14px;
    border-radius: 0px 0px 5px 5px;
}

.validation-title[b-1zpc2yfh2o] {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
}

.fa-triangle-exclamation[b-1zpc2yfh2o] {
    color: hsl(0, 100%, 40%);
    font-size: 20px; 
    margin-bottom: 15px;
}

.validation-title-text[b-1zpc2yfh2o] {
    padding-left: 10px; 
    font-size: 14px
}
/* /Shared/Components/Form/Validation/CustomValidationMessage.razor.rz.scp.css */
.message[b-w9yutuxteb] {
    padding-top: 2px;
    font-size: 12px;
    color: hsl(0, 100%, 40%);
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 3.5px;
}
/* /Shared/Components/Header/Header.razor.rz.scp.css */
.top-row[b-nucf7rjl2v] {
    background-color: #172C2F;
    border-bottom: 1px solid #172C2F;
    justify-content: space-between;
    height: 220px;
    display: flex;
    align-items: center;
    padding: 0px 24px;

    > .header-content {
        display: flex; 
        flex-direction: row; 
        width: 100%; 
        justify-content: space-between; 
        padding: 0px 90px; 
        position: relative; 
        top: -73.5px;

        > img {
            width: 40px; 
            color: #B4FFF0
        }

        > .header-title[b-nucf7rjl2v] {
            color: white; font-size: 12px;
        }
    }

    @media(max-width: 780px) {
        > .header-content[b-nucf7rjl2v] {
            padding: 0px 10px;
        }
    }
}

/* /Shared/Components/Modal/Modal.razor.rz.scp.css */
.modal-background[b-1blu7h36js] {
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;  
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    >  .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 700px;
        margin-top: 70px;
        border-radius: 10px;

        >   .modal-title-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 10px 30px;

            >  .modal-title {
                font-size: 22px;
                line-height: 30px;
                font-weight: 700;
                color: #172C2F;
              }
    
            > i[b-1blu7h36js] {
                font-size: 30px;
                cursor: pointer;
            }
          }

        >  hr[b-1blu7h36js] {
            margin: 0px 0px 10px 0px;
          }

        > .modal-description-container[b-1blu7h36js] {
            padding: 10px 30px;
          }
      }
  }
  
  
  @media(max-width: 768px) {
    .modal-content[b-1blu7h36js] {
      width: 90%;
    }
  }
/* /Shared/Components/ProgressWizard/ProgressWizard.razor.rz.scp.css */
.stepper-wrapper[b-5b23bqzvqm] {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 18px;
  }

  /* SHORT NAME */

  .started[b-5b23bqzvqm]::before {
    content: "Started";
  }

  .username-password[b-5b23bqzvqm]::before {
    content: "Login";
  }

  .identity[b-5b23bqzvqm]::before {
    content: "Identity";
  }

  /* Identity => Upload */

  .upload[b-5b23bqzvqm]::before {
    content: "Upload";
  }

  /* Upload -> Identity" */

  .more[b-5b23bqzvqm]::before {
    content: "Promo";
  }

  .terms-and-conditions[b-5b23bqzvqm]::before {
    content: "Terms";
  }

  .finished[b-5b23bqzvqm]::before {
    content: "Fund";
  }

  .step-name[b-5b23bqzvqm] {
    padding-bottom: 10px;
    font-size: 14px;
  }

  /* LONG NAME */

  .started[b-5b23bqzvqm]::after {
    content: "Basic Info";
    display: none;
  }

  .username-password[b-5b23bqzvqm]::after {
    content: "Create Login";
    display: none;
  }

  .identity[b-5b23bqzvqm]::after {
    content: "Identity";
    display: none;
  }

  .upload[b-5b23bqzvqm]::after {
    content: "Upload";
    display: none;
  }

  .terms-and-conditions[b-5b23bqzvqm]::after {
    content: "Terms & Conditions";
    display: none;
  }

  .finished[b-5b23bqzvqm]::after {
    content: "Add Funding";
    display: none;
  }

  .step-name[b-5b23bqzvqm] {
    padding-bottom: 10px;
    font-size: 14px;
  }

  /* Normal Size Circle */

  .stepper-item[b-5b23bqzvqm] {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .stepper-item[b-5b23bqzvqm]::before {
    position: absolute;
    content: "";
    border-bottom: 6px solid #ededed;
    width: 100%;
    top: 42px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item[b-5b23bqzvqm]::after {
    position: absolute;
    content: "";
    border-bottom: 6px solid #ededed;
    width: 100%;
    top: 42px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter[b-5b23bqzvqm] {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid gray;
    background: white;
    margin-bottom: 6px;
  }
  
  .stepper-item.active[b-5b23bqzvqm] {
    font-weight: bold;    
  }

  .step-counter.active[b-5b23bqzvqm] {
    background-color: #177D78;
  }

  .stepper-item.completed .step-counter[b-5b23bqzvqm] {
    background-color: #2b8d88;
  }
  
  .stepper-item.completed[b-5b23bqzvqm]::after {
    position: absolute;
    content: "";
    border-bottom: 6px solid #177D78;
    width: 100%;
    top: 42px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child[b-5b23bqzvqm]::before {
    content: none;
  }
  .stepper-item:last-child[b-5b23bqzvqm]::after {
    content: none;
  }

  /* Small Size Circle */


  .stepper-item-small .step-counter[b-5b23bqzvqm] {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    background: white;
    top: 27px;
    }

  .step-counter.active[b-5b23bqzvqm] {
    background-color: #177D78;
  }

  @media(min-width: 770px) {
    .started[b-5b23bqzvqm]::before, .username-password[b-5b23bqzvqm]::before, .upload[b-5b23bqzvqm]::before ,.terms-and-conditions[b-5b23bqzvqm]::before, .finished[b-5b23bqzvqm]::before {
      display: none;
    }

    .started[b-5b23bqzvqm]::after, .username-password[b-5b23bqzvqm]::after, .upload[b-5b23bqzvqm]::after ,.terms-and-conditions[b-5b23bqzvqm]::after, .finished[b-5b23bqzvqm]::after {
      display: block;
    }


  }

  @media(max-width: 1000px) {
    .step-name[b-5b23bqzvqm] {
      font-size: 10px;
    }
    .stepper-item[b-5b23bqzvqm]::before, .stepper-item[b-5b23bqzvqm]::after, .stepper-item.completed[b-5b23bqzvqm]::after {
      top: 37px;
    }

    .stepper-item-small .step-counter[b-5b23bqzvqm] {
      top: 22px;
      }
  
  }
/* /Shared/Components/Title/Title.razor.rz.scp.css */
a[b-spcv6xjfg7] {
    cursor: pointer
}
.title-container[b-spcv6xjfg7] {
    max-width: 570px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 35px 20px 0px 20px;
}

.header-text[b-spcv6xjfg7] {
    font-size: 32px;
    line-height: 45px; 
    text-align: left; 
    width: 100%; 
}

.reference-text[b-spcv6xjfg7] {
    font-size: 14px; 
    line-height: 21px;
    text-align: left; 
    width: 100%;
    color: teal;
    padding: 15px 0px;
}

.description-text[b-spcv6xjfg7] {
    font-size: 14px; 
    line-height: 21px;
    width: 100%; 
    padding: 10px 0px 0px 0px;
}

@media(max-width: 330px) {
    .header-text[b-spcv6xjfg7] {
        font-size: 25px;
    }
    .reference-text[b-spcv6xjfg7] {
        font-size: 11px;
    }
    .description-text[b-spcv6xjfg7] {
        font-size: 12px;
    }
  }
