@inherits LayoutComponentBase

<PageTitle>Blazor</PageTitle>
<header>
    <Header />
</header>
<main>
    @* <BodyContainerComponent>
        @Body
    </BodyContainerComponent> *@
</main>
<footer>
    <Footer />
</footer>
