<div class="modal-background" style="@ModalDisplay()">
    <div class="modal-content">
        <div class="modal-title-container">
          <span class="modal-title">@ModalTitle</span>
          <i class="fa-sharp fa-solid fa-xmark" @onclick="ModalEvents"></i>
        </div>
        <hr />
      <div class="modal-description-container">
        @ChildContent
      </div>

      @if(ShowModalCloseBtn == null)
      {
        <hr />
        <ModalButton OnClick="@ModalEvents"/>
      }
      </div>
  </div>

  @code
  {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public EventCallback ModalEvents { get; set; }
    [Parameter] public string? ModalTitle { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool? ShowModalCloseBtn { get; set; }

    private string ModalDisplay()
    {
      if(ShowModal)
      {
        return "display: block";
      }
      else
      {
        return "display: none";
      }
    }

  }